@model ResetPasswordDTO
<form method="post" style="width:80%;padding:10%">
    <input type="hidden" asp-for="@Model.ReturnUrl" value="@(Model.ReturnUrl != null ? Model.ReturnUrl : ViewBag?.ReturnUrl)" contenteditable="false" />
    <h3>@ViewBag.Message</h3>
    <input type="hidden" asp-for="@Model.UserId" contenteditable="false" />
    <h3 style="color:red">@ViewBag.ErrorMessage</h3>
    <div class="form-group">
        <label asp-for="@Model.OldPassword">Old Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Please Enter Old Password" asp-for="@Model.OldPassword" required maxlength="@PersonConsts.MaxPasswordLength">
        <span style="color:red" asp-validation-for="@Model.OldPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword">New Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Please Enter New Password" asp-for="@Model.NewPassword" maxlength="@PersonConsts.MaxPasswordLength" required>
        <span style="color:red" asp-validation-for="@Model.NewPassword"></span>
    </div>
    <button class="btn btn-primary" style="margin-top:25px" type="submit">Reset Password</button>
    <a class="btn btn-secondary back" style="margin-top:26px" href="@(Model.ReturnUrl != null ? Model.ReturnUrl : ViewBag?.ReturnUrl)">Back To List</a>
</form>