@model IEnumerable<ClassDTO>
<div style="width:100%;padding:3% 5%">
    <a class="btn btn-info mb-3" asp-action="AddClass">Add Class</a>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col">Class Name Ar</th>
                    <th scope="col">Class Name En</th>
                    <th>Materials</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var cl in Model.ToList())
                {
                    <tr>
                        <td>
                            @cl.ClassNameAr
                        </td>
                        <td>@cl.ClassNameEn</td>
                        <td>
                        @foreach(var mat in cl.Materials.ToList()){
                           <span>@mat.MaterialNameAr ||</span>
                        }
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="EditClass" asp-route-id="@cl.Id">Edit</a>
                            <a class="btn btn-danger" onclick="deleteClass(@cl.Id)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteClass(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this class!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete")",
                    data: { id: id },
                    success: function () {
                        Swal.fire({
                            icon: 'success',
                            title: 'Class Deleted Successfully',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                });
            }
        });
    }
</script>